{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Blogs
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/landing-page.css" %}">
{% endblock %}

{% block body_content %}
    <header id="main-navigation"><h1><a href="">Nikhil's Blog</a></h1>
        <nav><a href="">All Blogs</a></nav>
    </header>

    <section id="welcome">
        <header>
            <img src="{% static  "images/ProfilePicture.jpg" %}" alt="Nikhil- The author of the blog">
            <h2>Nikhil's Blog</h2>
        </header>
        <p>Hey! I'm Nikhil and I write about tech</p>
    </section>
    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>

        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="{% static "images/ProfilePicture.jpg" %}" alt="Mountain">
                        <div class="post__content">
                            <h3>Mountain Hiking</h3>
                            <p>I love mountains.I love mountains.I love mountains. </p>

                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>
    <section id="about">
        <h2>
            What I Do?
        </h2>
        <p>
            I work during work and play when ever I'm free.
        </p>
        <p>
            My Goal is keep learning
        </p>
    </section>
{% endblock %}